.title_todo {
  margin: 0;
  color: rgb(0, 28, 25);
  font-size: 4rem;
  background: -webkit-linear-gradient(rgb(0, 255, 234), rgb(0, 138, 124), rgb(0, 28, 25));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: 700;
}