.todo_control_container {
  padding: 0.5rem 0;
  display: flex;
  align-items: stretch;
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid rgb(173, 173, 173);
}

.todo_control_left {
  flex-grow: 0;
  width: 9rem;
  display: flex;
  justify-content: space-around;
  padding: 0 .7rem;
  align-items: center;
}

.section_alarm {
  text-align: center;
  display: inline-block;
}

.section_button_newTodo {
  text-align: left;
  display: inline-block;
}

.section_guide_message {
  flex-grow: 1;
  text-align: center;
  border: 1px solid black;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_button_delete {
  flex-grow: 0;
  text-align: center;
  width: 9rem;
  display: flex;
  justify-content: flex-end;
}

.alarm {
  font-size: 1.8rem;
  cursor: pointer;
}

.alarm:hover {
  color: gray;
}

.button_newTodo,
.button_delete {
  box-shadow: 0 0.1rem;
  box-shadow: 0 0.1rem;
}

.button_newTodo:active,
.button_delete:active {
  transform:translateY(0.1rem);
}