.todo_card_summary {
  border-top: 1px solid #333;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 3.5rem;
  font-size: 1.5rem;
  align-items: center;
  justify-content: space-around;
}

.todo_card_left {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}

.todo_card_deadline {
  flex-grow: 1;
  padding: 0 .6rem;
}

.todo_card_right {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  padding-right: .5rem;
}

.todo_card_checker {
  display: flex;
  align-items: center;
  padding: 0 .6rem;
}

.checker {
  width: 2rem;
  height: 2rem;
  border: 1px solid gray;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.check_flag {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid gray;
  border-radius: 1rem;
  background-color: gray;
}

.check_flag.done {
  visibility: visible;
}

.check_flag.todo {
  visibility: hidden;
}

.todo_card_title {
  display: flex;
  align-items: center;
  width: 20rem;
  padding: 0 .6rem;
}

.todo_card_collapse > * {
  font-size: 2rem;
  cursor: pointer;
}

.todo_card_content {
  padding: .4rem .8rem;
}