.FormContainer {
  width: 90%;
  border: 1px solid black;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.forms {
  width: 90%;
  margin: auto;
}

.todo_content {
  resize: none;
}

.date-time-picker {
  display:flex;
  align-items: flex-end;
  /* flex-direction: column; */
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.submit_todo {
  margin-left: 1rem;
}